{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    
    <div class="container pt-5">
        <div class="row">
            <div class="col-8 offset-2">
                {% include "Partials/flash_message.html.twig" %}
                <h1 class="text-center title">Mot de passe oublié</h1>
                {{form(emailForm) }}
                <p class="text-center">
                    J'ai retrouvé mon mot de passe et <br>
                    <a href="{{ path('account_login') }}">je me connecte à Barri</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}