{% extends "base.html.twig" %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>
    <p>Bonjour, <br>
    Une demande de réinitialisation de mot de passe à été effectué pour le site Barry. Veuillez cliquez sur le lien suivant : <a href="{{absolute_url(path('account_reset_password', {'token': token})) }}">Réinitialiser mon mot de passe</a></p>
{% endblock %}