{% extends "base.html.twig" %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-8 offset-2">
                <h1 class="title">Entrez votre nouveau mot de passe</h1>
                {% include "Partials/flash_message.html.twig" %}
                <form action="" method="post">
                    <label for="pass">Nouveau mot de passe</label>
                    <input type="password" name="password" id="pass" class="form-control">
                    <input type="hidden" name="token" value="{{token}}">
                    <button type="submit" class="btn action_button mt-3">Valider</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}