{% extends 'User/base_user.html.twig' %}

{% block title %}Journal de caisse{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Module vente en maintenance</h1>
</div>
{% endblock %}


