<div>
    {# Success #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    {# Danger #}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{message}}
        </div>
    {% endfor %}

    {# Warning #}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{message}}
        </div>
    {% endfor %}
</div>