{{form_start(form, {attr: {class: 'js-filter-form'}})}}

    <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
        <span class="sr-only">Loading...</span>
    </div>

    {{form_row(form.q)}}
    
{{form_end(form)}}