<!-- Modal -->
<div class="modal fade" id="modalSubscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title" id="exampleModalCenterTitle">Paiement de l'abonnement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-dark text-center">Cette fonctionnalité en ligne n'est pas encore disponible, veuillez nous contacter à ce numéro afin de convenir d'un autre moyen de paiement : <br><br><strong>02 46 65 09 40</strong></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn action_button" data-dismiss="modal">Valider</button>
      </div>
    </div>
  </div>
</div>